html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'HumbleNostalgia';
	src: url('font/HumbleNostalgia.otf') format('opentype');
}

@font-face {
	font-family: 'abcFavoritMono';
	src: url('font/ABCFavoritMono.otf') format('opentype');
}

@font-face {
	font-family: 'DepartureMono';
	src: url('font/DepartureMono.otf') format('opentype');
}

.interFont {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	line-height: 1.3;
}

.tamanhoTextoDescricao {

	width: 802px;
}

h3 {

	background-image: radial-gradient(60% 58% at 47% 61%, #05FEC0 30%, #05eae6f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 97px;
	font-family: "HumbleNostalgia";
	line-height: 1.2;
}

.fontTitulos {
	background-image: radial-gradient(60% 58% at 47% 61%, #05FEC0 30%, #05eae6f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 97px;
	font-family: "HumbleNostalgia";
	line-height: 1.2;
}

.playwriteScript {
	font-family: "Playwrite US Trad", cursive;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0px;
}

.tituloDestaqueFonte {
	font-family: "abcFavoritMono";
	line-height: 1.2;
	font-size: 122px !important;
	letter-spacing: -11px;

	background-image: radial-gradient(60% 58% at 47% 61%, #ffffff 61%, #f5f5f51f 100%);
	/* radial-gradient(6% 4% at 17% 10%, #06ffc1 30%, #07F6F2 100%) */
	/* radial-gradient(68% 78% at 30% 84%, #06FFC1, #07F6F2 100%) */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.scriptColorida {
	font-size: 122px !important;
	background-image: radial-gradient(60% 58% at 47% 61%, #00fff3 30%, #2dfffbb5 100%);
	/* radial-gradient(6% 4% at 17% 10%, #06ffc1 30%, #07F6F2 100%) */
	/* radial-gradient(68% 78% at 30% 84%, #06FFC1, #07F6F2 100%) */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.conteudo {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	background-color: #16191D;
}

.flex {
	display: flex;
}

.flexCol {
	flex-direction: column;

}

.flexRow {
	flex-direction: row;

}

.bgred {
	background-color: brown;
}

.menuStyle {
	font-size: medium;
	display: flex;
	gap: 22px;
	color: aqua;
	align-items: center;
	justify-content: center;
	background-color: #002b4363;
	padding: 12px;
	border-radius: 122px;
	margin-top: 6px;
	width: 100%;
	position: fixed;
	z-index: 55;
	justify-content: space-between;
	text-align: justify;
	max-width: 1490px;
	box-shadow: 6px 6px 43px rgb(0 29 35 / 60%);
	background-image: linear-gradient(164deg, #020e0f7d, #020e0f70);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	left: 50%;
	transform: translateX(-50%);
	max-width: 1040px;
}


.textoBranco {
	color: aliceblue;
}

a:link {
	color: rgb(119, 223, 255);
}

/* visited link */
a:visited {
	color: #05FEC0;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}

a {
	text-decoration: none;
}

.tamanhoFotoPerfil {

	width: 250px;
	aspect-ratio: 1/1;
	z-index: 5;
}

.nomeEver {

	font-size: 87px;
	color: aliceblue;
}

.centraliza {

	display: flex;
	align-items: center;
}

.imageCardsDribble {

	width: 250px;
	border-radius: 24px;
	margin-bottom: 22px;
}

.tamanhoHandIcon {

	width: 30px;
}

.wFull {
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.positionAbsolute {

	position: absolute;
}

.positionRelative {

	position: relative;
}

p {
	position: relative;
	color: azure;

}

.ilustracaoCarro {
	width: 2fr;
	border-radius: 32px;
	/* padding: 12px; */
	width: 100%;
}

.grid3 {
	/* width: 100%;
    display: flex;
  
    justify-content: center;
	*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* 3 colunas iguais */
	gap: 16px;
}

.grid2 {
	/* width: 100%;
    display: flex;
  
    justify-content: center;
	*/
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* 3 colunas iguais */
	gap: 16px;
}

.grid4 {
	/* width: 100%;
    display: flex;
  
    justify-content: center;
	*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* 3 colunas iguais */
	gap: 16px;
}

.grid6 {
	/* width: 100%;
    display: flex;
  
    justify-content: center;
	*/
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* 3 colunas iguais */
	gap: 16px;
}

.blurBG01 {
	width: 48dvw;
	opacity: 25%;

}

.overflowHidden {
	overflow-x: hidden;
}


/* ==================================== */

.carroselLogosBG {
	margin-top: 32px;
	margin-bottom: 32px;
	background-repeat: repeat-x;
	background-image: url("img/icones/logos-design.png");
	/* background-color: #e8ff554a; */
	height: 70px;
	background-size: cover;

	/* background-image: url(); */
	/* background-size: cover; */
	/* background-color: #1a4a8b; */
	/* text-align: left; */
	/* height: 249px; */
	position: relative;
	overflow-x: clip;
	background-size: auto;
	background-position-x: 400px;

	/* background-repeat: repeat-x; */
}

.fotoAnimada {

	-webkit-animation: movendofita2 30s linear infinite both;
	animation: movendofita2 30s linear infinite both;
}

@keyframes movendofita2 {
	0% {

		background-position-x: 0%;

	}

	100% {

		background-position-x: 100%;

	}
}

/* ==================================== */

.duasBordas {
	border: 5px;
	border-color: aquamarine;
	border-width: 5px;
	border-style: solid;
	outline: 12px;
	outline-style: solid;
	outline-width: 5px;
	outline-color: rgb(0, 30, 225);
}

.ArrowSVG {
	width: 15px;

}

.centraliza {

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.textoCentralizado {

	text-align: center;
}

.fundoCinzaCard1 {

	background-color: rgba(56, 54, 54, 0.754);
	border-radius: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


/* ===================== */

.fonteCascadiaCode {
	font-family: "Cascadia Code", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.fonteCascadiaCode300 {
	font-family: "Cascadia Code", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.fonteImperial-script-regular {
	font-family: "Imperial Script", cursive;
	font-weight: 400;
	font-style: normal;
}




.widthPorcento100 {
	width: 100%;
}

.iconesBehance1 {
	width: 125px;
}

.iconesBehance2 {
	width: 164px;
}

.iconesBehance3 {
	width: 164px;
}

.tamanhoExtenivelCompletaCard {
	height: 100%;
}

.fonteCardBehance {
	margin-bottom: 22px;

}

.botaoBehance {
	color: #ffffff !improtant;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: #0057ff;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 32px;
	padding-right: 32px;
	border-radius: 8px;
	transform: scale(1);
	gap: 12px;
	transition: all 0.2s ease-out;
}

.botaoBehance:visited {

	color: #ffffff;
}

.botaoBehance:hover {
	color: #e2ecff;
	box-shadow: 0px 4px 32px 2px rgba(31, 72, 255, 0.601);
	transform: scale(1.03);
	transition: all 0.03s ease;
}

.botaoBehance:active {

	transform: scale(0.95);
	transition: all 0.03s ease;
}




.miniLogoBehance {
	width: 26px;
}

.CoverAlbuns {
	width: 2fr;
	border-radius: 12px;

	width: 100%;
}

.justifyCenter {

	justify-content: center;
}

.botaoAdobeStock {

	padding: 4px;
	background-color: aqua;
	padding-left: 14px;
	padding-right: 14px;
}

.imagemFundoLogos {

	background-image: url();
	background-size: cover;
	background-color: #1a4a8b;
	text-align: left;
	height: 249px;
	position: relative;
	overflow-x: clip;
	background-size: contain;
	background-repeat: repeat-x;
}

.zIndexMenos1 {

	z-index: -1;
}

.tituloSection {

	color: aquamarine;
	font-size: 87px;
	margin-bottom: 4px;

}

.degradeLogos {
	margin-top: 22px;
	margin-bottom: 32px;
	height: 100px;

	background-color: #0AFF61;
	backgroun-image: linear-gradient(90deg, #d9d9d900 0%, #D9D9D9 25%, #D9D9D9 75%, #d9d9d900 100%);
}

section {

	padding-top: 60px;
}

.subtituloSections {

	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
}

.mapaMissal {
	margin-top: 32px;
	margin-bottom: 32px;
	overflow: hidden;
	width: 100%;
	height: 600px;
}

.alignCenter {

	align-items: center;
}


.iconeWhatsTamanho {
	white-space: nowrap;
	width: 48px;
}

.iconeInstatamanho {
	width: 48px;
}

.naoQuerbraLinhaWhats {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: white;
	font-size: 22px;
	white-space: nowrap;
}

.barra-colorida {
	background-repeat: repeat-x;
	background-image: url("img/barra-color.jpg");
	background-size: cover;

	/* background-position-x: 400px; */
	height: 4px;
	/* width: 100%; */
	/* margin-bottom: -12px; */
	background-size: auto;



}

.fotoAnimadaRapida {

	-webkit-animation: movendofitaRapida 1s linear infinite;
	animation: movendofitaRapida 1s linear infinite;
}

@keyframes movendofitaRapida {
	0% {

		background-position-x: 0%;

	}

	50% {

		background-position-x: 100%;

	}

	100% {

		background-position-x: 0%;

	}
}

.background-clip {
	position: absolute;
	/* left: 50%; */
	top: -300px;
	width: 100vw;
	height: 700px;
	object-fit: cover;
	z-index: -2;
	left: 50%;
	opacity: 0.1;
	transform: translateX(-50%);
	mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);


}

.paiVideoBG {

	position: relative;
}

.degradeVideo {
	z-index: -1;
	top: -300px;
	width: 100vw;
	height: 700px;
	left: 50%;
	transform: translateX(-50%);
	background-image: radial-gradient(50% 48%, rgba(41, 255, 191, 0) 0, #16191D 100%);
	position: absolute;
}


.boxEpsESingles {
	background-color: #11141b9a;
	border-radius: 37px;
	border-width: 1px;
	border-color: #65656536;
	border-style: solid;
	padding: 24px;
}

.fontBoldINTER {
	font-weight: 700;
}

.paddingBottom32 {

	padding-bottom: 32px;
}

.paddingBottom12 {

	padding-bottom: 12px;
}

.botaoSpotify {
	background-color: #1DB954;
	border-radius: 16px;
	padding: 12px;
	gap: 12px;
	width: fit-content;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.iconeSpotifyBotao {

	width: 24px;
}

.tituloInterDegrade {

	font-size: 40px;
	background-image: linear-gradient(90deg, #04FFFF 30%, #0AFF61 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.tagsText {
	font-size: 16px;
}

.tagsFontDark {
	color: #00423C;
}

.tagsFontBright {
	color: white;
}

.tagColor1 {
	background-color: #00F7C1;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}

.tagColor2 {
	background-color: #6827F4;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}

.tagColor3 {
	background-color: #FABE2C;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}

.tagColor4 {
	background-color: #FE5926;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}

.tagColor5 {
	background-color: #737373;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}

.tagColor6 {
	background-color: #00C2F6;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 123px;
}


.fontTech {
	font-family: "DepartureMono";
	text-shadow: -2px -2px 2px #ffffffa4;

}

.gap10 {
	gap: 10px;
}

.miniFoto {
	width: 100%;
	border-radius: 16px;
}

.tamanhoNokia {
	width: 70%;
}

.botaoWhatsApp {

	width: 20%;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 22px;
	padding-left: 22px;
	background-color: #37C956;
	border-radius: 16px;
	gap: 16px;
}


.boxDeFundoContato {
	padding: 60px;
	height: 300px;
	background-color: #11141b9a;
	border-radius: 37px;
	border-width: 1px;
	border-color: #65656536;
	border-style: solid;
	flex-direction: row;
	justify-content: center;
	display: flex;


}

.botaoInsta {
	/* position: absolute; */
	/* width: 20%; */
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 22px;
	padding-left: 22px;
	background-image: linear-gradient(90deg, #FF6B18 0%, #C8125E 50%, #784C9D 100%);
	border-radius: 16px;

}

.marginIconeInsta {

	margin-bottom: 22px;
}

.coladoNoCanto {
	position: absolute;
	right: 0px;
	top: -100px;
}

.paddingSections {
	padding-top: 100px;
	padding-bottom: 100px;
}

.coladoNoCantoDribbble {
	position: absolute;
	top: -228px;
	right: 0x;
}

.coladoNoCantoBehance {
	position: absolute;
	right: x;
	left: -136px;

}